/*Defaults*/

nav, header, footer, article, h1, h2, h4 {
    display: block;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0.01em 0.01em 0.01em;
}

body {
    line-height: 1;
    margin: 0;
}

label {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 28px;
    line-height: 1.2;
}

article p {
    font-size: 28px;
    padding: 10px;
    line-height: 1.5;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

/*Nav bar*/

nav {
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 10000;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    min-height: 20px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: darkmagenta;
    color: #fff;
}

ul.topnav li.dropdownIcon {
    display: none;
}


/*Custom styles*/

#aboutme {
    background: #090979; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #090979, #65a5ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #090979, #65a5ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #090979, #65a5ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #090979, #65a5ff); /* Standard syntax */
    padding-top: 50px;
}

/*About me*/

.container.personalImage {
    padding: 7rem 1rem 5rem 1rem;
}

.container.personalImage img {
    border-radius: 3rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    display: block;
    margin: auto;
}

.container.personalBackground {
    text-align: center;
}

personalBackground article header{
    min-width: 100%;
}

.personalBackground article p {
    text-align: justify;
}

/*Experience*/

#experience {
    margin-top: 5rem; 
}

.container.experienceTitle {
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-width: 100%;
    text-align: center;
}

.container.experienceTitle h1 {
    font-weight: 600;
}

.container.center {
    min-width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}

footer {
    margin: 0;
    padding: 3rem;
    background-color: #eee;
}
.container.copyright {
    text-align: center;
    min-width: 100%; 
}

/*Mobile*/

@media screen and (max-width: 1200px) {
    article p {
        font-size: 20px;
        padding: 5px;
    }

    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    h1 {
        font-size: 48px;
    }

    #aboutme {
        background: #090979; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#090979, #65a5ff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#090979, #65a5ff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#090979, #65a5ff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#090979, #65a5ff); /* Standard syntax */
        padding-bottom: 3rem;
    }

}
